body{
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    height: auto;
    width: 500px;
    margin: 100px auto;
    color: white;
    background-color: #00a2ff;
    padding: 20px;
    border-radius: 15px;
}